.overall-header {
    position: absolute;
    color: #1e1e1e;
    left: 240px;
    top: -5px;
    font-size: 40px;
    font-family: "Inter-Bold";
}

.inventory-header {
    position: absolute;
    color: #1e1e1e;
    left: 315px;
    top: 35px;
    font-size: 30px;
    font-family: "Inter-Bold";
}

