.search-bar{
    position: static;
    z-index: 2;
    
}
.search-bar #search{
    left: 245px;
    top: 100px;
    position: absolute;
    width: 275px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    height: 35px;
    background-image: url("../../icons/search\ icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 8px 5px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
  }

.search-bar #search-button{
    font-family: 'Inter-SemiBold';
    padding: 9.5px 20px;
    background-color: #047CFC;
    color: #fff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 100px;
    left: 520px;
    border-radius: 0px 4px 4px 0px;
}

.add-item-button-container #add-item-button{
    font-family: 'Inter-SemiBold';
    padding: 9.5px;
    background-color: #027400;
    color: white;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 100px;
    right: 30px;
    width: 200px;
    border-radius: 4px;
}

.table-section {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
}
.table-div {
    position: absolute;
    top: 195px;
    left: 245px; /* Set left to 245px */
    right: 0; /* Set right to 0 to ensure it ends at the viewport's right edge */
    width: calc(100% - 245px); /* Calculate width to span from 245px left to the right edge */
}

.table{
    width: calc(100% - 25px); /* Adjust the width to account for the right margin */
    max-width: calc(100% - 25px); /* Prevent the table from exceeding the container's width */
    border-collapse: collapse;
    font-size: 14px;
    border-top: 2px solid #1b1b1b;
    border-left: 2px solid #1b1b1b;
    border-right: 2px solid #1b1b1b;
    margin: 0; /* Remove any default margin */
    margin-right: 25px; /* Adjust the right margin here */
}

.table thead tr{
    background-color: #464646;
    color: #fff;
    text-align: left;
}

.table tbody {
    background-color: white;
}

/* cells inside the table header and table content */
.table th, table td{
    padding: 10px 10px;
    border: 1px solid #1b1b1b;
    text-align: left;

}

/* makes the outside bottom border of the table dif color */
.table tbody tr:last-of-type{
    border-bottom: 2px solid #1b1b1b;
    border-top: 2px solid #1b1b1b;
}

.table thead tr#tableHeader th:first-child {
    width: 1px; /* Adjust the width as needed */
}

#edit-link{
    color: #047CFC;
    cursor: pointer;
}


#add-item-popout-id{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 135px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    opacity: 1;
    width: 95%; /* Increase the width */
    max-width: 1400px; /* Increase the max-width to accommodate larger content */
    box-sizing: border-box; /* Include padding in the element's total width */
    overflow: hidden; /* Ensure no internal overflow */
    display: flex;
}


.second-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.second-table {
    font-family: 'Inter-SemiBold';
    border-collapse: collapse;
    width: 100%; /* Use 100% width to ensure it fits its container */
    max-width: 1450px; /* Set max-width if needed */
    position: relative;
    margin: 0 auto; /* Center the table horizontally */
}
.second-table input[type="text"],
.second-table input[type="date"],
.second-table select {
    width: 100%; /* Make inputs and selects fill the table cell */
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Inter-Regular';
    font-size: 15px;
}

.second-table #item-id {
    width: 200px; /* Example: Adjust the width as needed */
    padding: 8px; /* Example: Adjust padding as needed */
    font-size: 14px; /* Example: Adjust font size */
    border: 1px solid #ccc; /* Example: Adjust border properties */
    border-radius: 4px; /* Example: Adjust border radius */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    /* Add any additional styles you want to apply */
    font-size: 15px;
}


#department-dropdown {
    font-family: 'Inter-Regular';
    padding: 8px; /* Add padding for better appearance */
    font-size: 14px; /* Adjust font size */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Add border radius */
    background-color: #fff; /* Set background color */
  }


  /*second table header and data*/
  .second-table th,
  .second-table td {
      border: 1px solid #000000;
      padding: 8px;
      text-align: left;
  }
  
  /*second table header*/
  .second-table thead tr {
    background-color: #464646;
    color: #fff;
    text-align: left;
  }
  
  

  #confirm-add{
    position: relative;
    font-family: 'Inter-SemiBold';
    padding: 9.5px;
    background-color: #027400;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 300px;
    right: 30px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #1b1b1b;
  }

  #discard-add{
    position: relative;
    font-family: 'Inter-SemiBold';
    padding: 9.5px;
    background-color: #890000;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 30px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #1b1b1b;
    z-index: 2;
  }



/* Initially hides the popup div until add item is pressed */
#add-item-popout-id,
#confirm-add,
#discard-add,
.second-table,
.add-item-popout h1 {
    display: none;
    z-index: 4;
}

.pagination-container {
    position: absolute;
    top: 150px;
    left: 245px;
    background-color: #333; /* Dark gray background */
    padding: 5px; /* Add some padding for spacing */
    width: 1250px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container horizontally */
    border-radius: 5px; /* Optional: Add some rounded corners */
}

.pagination {
    display: inline-block;
    margin-left: 15px;
}

.pagination button {
    padding: 4px 12px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 12px; /* Adjust font size to make the text smaller */
}

.pagination button:hover {
    background-color: #ddd;
}

.page-numbers {
    display: inline-block;
}

.page-number {
    padding: 4px 8px;
    margin: 0 1px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 12px; /* Adjust font size to make the text smaller */
}

.page-number:hover {
    background-color: #ddd;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 3; /* Ensure the overlay covers everything */
}



.table-container {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    margin-top: 20px; /* adjust margin as needed */
    max-width: 100%;
}

.third-table {
    font-family: 'Inter-SemiBold';
    border-collapse: collapse;
   /* max-width: 100%; /* Ensure the table does not exceed the container's width */
    /*width: 1335px; */
    position: relative;
    left: -80px;
    top:-50px;
    z-index: 2;
  }

  .third-table input[type="text"] {
    width: 128px; /* Adjust the width as needed */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in the width */
}
.third-table input[type="date"] {
    width: 128px; /* Adjust the width as needed */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in the width */
    font-family: 'Inter-Regular';
}
#department-dropdown {
    font-family: 'Inter-Regular';
    padding: 8px; /* Add padding for better appearance */
    font-size: 14px; /* Adjust font size */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px; /* Add border radius */
    background-color: #fff; /* Set background color */
  }



  /*second table header and data*/
  .third-table th,
  .third-table td {
      border: 1px solid #000000;
      padding: 8px;
      text-align: left;
  }
  
  /*second table header*/
  .third-table thead tr {
    background-color: #464646;
    color: #fff;
    text-align: left;
  }
  


  #edit-item-popout-id{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    z-index: 1; /* Ensure the second table container is above other content */
    background-color: white;
    padding: 90px;
    width: 1335px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center;
    opacity: 1;

}



  .edit-item-popout h1{
    position:relative; /* Add this line */
    z-index: 2; /* Add this line */
    top: -90px;
    left: -660px;
    font-size: 37px;
    font-family: 'Inter-Bold';

}

#confirm-edit{
    position: relative;
    font-family: 'Inter-SemiBold';
    padding: 9.5px;
    background-color: #027400;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 300px;
    right: 30px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #1b1b1b;
    z-index: 7;
  }

#discard-edit{
    position: relative;
    font-family: 'Inter-SemiBold';
    padding: 9.5px;
    background-color: #890000;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 30px;
    width: 150px;
    border-radius: 4px;
    border: 1px solid #1b1b1b;
    z-index: 2;
  }

  #delete-link{
    color: #a30000;
    cursor: pointer;
    font-size: 10px;
}

  /* Initially hides the popup div until add item is pressed */
#edit-item-popout-id,
#confirm-edit,
#discard-edit,
.third-table,
.edit-item-popout h1 {
    display: none;
    z-index: 4;
}


