.search-bar{
    position: static;
    z-index: 2;
    
}
.search-bar #search{
    position: absolute;
    width: 200px;
    height: 20px;
    top: 8%;
    left: 15%;
    border: 1px solid black;
    box-sizing: border-box;
  }

.search-bar #search-button{
    position: absolute;
    top: 8%;
    left: 26%;
    width: 50px;
    height: 20px;
}

.add-item-button-container #add-item-button{
    position: absolute;
    top: 8%;
    left: 90%;
}

.table{
    position:fixed;
    top: 20%;
    left: 20%;
}

#add-item-popout-id{
    display: none;
    position: absolute;
    top: 30%;    
    left:0;
    right:0;
    margin:0 auto;
    width: 50%;
    border: 3px solid #8d0000;
    background-color: #380000;
    padding: 10px;
    z-index: 5;

}