body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

.container {
    width: 80%;
    margin: auto;
}

form {
    border: 2px solid #000000;
    padding: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"] {
    padding: 5px; /* Decreased padding */
    width: 120px; /* Decreased width */
    font-size: 12px; /* Decreased font size */
    margin-bottom: 5px;
}

.purpose-labels {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.purpose-labels label {
    margin-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 12px; /* Decreased font size */
}

th, td {
    padding: 5px; /* Decreased padding */
    border: 2px solid #000000;
    text-align: left;
}

th {
    background-color: #ffffff;
    font-weight: bold;
}

.certification-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.certification-box {
    width: 49%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 3px;
    font-size: 12px; /* Decreased font size */
}

.certification {
    border: none;
    padding: 0;
}

.certification label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.certification input[type="text"] {
    width: 15%;
}

.certification div {
    display: flex;
    flex-wrap: wrap;
}

.certification div div {
    width: 100%;
}
