body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    height: 50%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.centered {
    text-align: center;
    margin: 0;
}

.header-fields {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-fields,
.right-fields {
    width: 20%; 
    margin-left: 10%; 
    margin-right: 10%;
}



.left-fields p,
.right-fields p {
    margin: 5px 0;
}

.table-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 80%;
    max-width: 1000px; 
    margin-top: 20px; 
    margin-left: auto; 
    margin-right: auto;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 5px;
}
