body {
    font-family: 'Inter', extra-bold;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    position: relative; /* Ensure absolute positioning works */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

body::before {
    background-image: url("file:///C:/Users/Lenovo/Pictures/PGC BG.jpg");
    content: '';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    inset: 0;
    opacity: 0.2; /* Set opacity */
}

.sidebar {
    width: 250px;
    background-color: #890000;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sidebar li:hover {
    background-color: #1e1e1e;
}

.sidebar-content {
    display: flex;
    align-items: center; /* Center vertically */
    padding-left: -30px; /* Adjust the amount of padding as needed */
    margin-top: -15px;
}

.sidebar-content img {
    width: 80px; /* Adjust the width of the image */
    height: auto;
    margin-right: 10px; /* Adjust the spacing between image and text */
    vertical-align: middle; /* Align image vertically with text */
    padding-left: 10px;
}

.home-div img,
.item-div img {
    width: 24px; /* Adjust the width of the icons */
    height: 24px; /* Adjust the height of the icons */
    margin-right: 20px; /* Adjust the spacing between the icons and text */
    vertical-align: middle; /* Align icons vertically with text */
    margin-left: 12px;
}


h1{
    font-size: 19px;
    color: #e1e1e1;
    font-weight: bold; /* Change weight to bold */

}

.middle-logo {
    position: absolute;
    top: 125px;
    left: 750px;
}

.middle-logo img{
width: 250px; /* Adjust width */
height: 250px; /* Adjust height */ 
filter: drop-shadow(0px 0px 10px rgba(0,0,0,1));
}

.home-div{
    margin-top: 100px;
    
}

.item-div{
    margin-top: 40px;
    line-height: 2.5;
}

.middle-logo h2 {
    font-size: 40px;
    color: #1e1e1e; /* Adjust the color of the header text */
    margin-top: 4%; /* Adjust the top margin */
    margin-left: -500px; /* Adjust left margin */
    text-align: center;
}

.middle-logo p {
    font-size: 15px; /* Adjust font size of paragraph */
    text-align: center; /* Center-align paragraph text */
    margin-top: 35px; /* Adjust top margin */
    margin-bottom: 30px; /* Adjust top margin */
    margin-right: 50px; /* Adjust the value for desired indentation */
    margin-left: -450px; /* Adjust the value for desired indentation */
}